:root {
    --c-brand: #ff9700;
    --c-brand-light: #ffba55;
    scroll-behavior: smooth;
}

html.dark {
    --c-brand: #bb6f00;
    --c-brand-light: #aa6500;
}

@font-face {
    font-family: "FirstShine-regular";
    src: url("/fonts/FirstShine-regular.eot"); /* IE9 */
    src: url("/fonts/FirstShine-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("/fonts/FirstShine-regular.woff") format("woff"), /* chrome、firefox */
    url("/fonts/FirstShine-regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("/fonts/FirstShine-regular.svg#FirstShine-regular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

.home .hero  {
    .action-button {
        padding: 0.4rem 0.8rem;
        border-radius: 4px;
    }
    
    h1 {
        font-family: "FirstShine-regular";
        font-weight: normal;
        font-size: 5rem;
    }
}
